/* Base styles */
body {
    font-family: 'Lato', sans-serif;
    background-color: #4f4f4f;
    color: #ffffff;
}
html {
    scroll-behavior: smooth;
}
h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #0fee43;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
#logo{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}

/* Custom styles */
header{
    background-color: rgba(6, 6, 6, 0.868);
}
span{
    color: #0fee43;
}
/* Remove the border around the card */
.card {
    border: none;
    padding: 0;
    background-color: #c8c7c7;
}
.about{
    color: #0fee43;
}
.typing-effect span {
    border-right: 0.1em solid #333;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}

/* Additional styles to trigger animation */
.skill.animate {
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Add background color to the image and ensure it's responsive */
.card-img-top {
    background-color: #c8c7c7; /* Change this to your desired background color */
    padding: 10px; /* Optional: Add some padding to create space around the image */
    object-fit: cover;
    width: 100%;
    height: auto;
}
/* Add some padding to the top of the card */
body.dark-mode .card{
    background-color: #333333;
}
body.dark-mode .card-img-top{
    background-color: #333333;
}
/* Centering the navigation content */
.navbar {
    display: flex;
    justify-content: center; /* Centers the navbar content horizontally */
    align-items: center; /* Centers the navbar content vertically */
}

.navbar-brand {
    margin-right: auto; /* Align the brand to the left */
}

.navbar-nav {
    margin-left: auto; /* Align the navigation links to the right */
    margin-right: auto; /* Align the navigation links to the left */
}

/* Adjusting the nav links for a slight shift towards the middle */
.nav-link {
    padding: 10px 15px; /* Adjust the padding as needed */
}

.nav-item {
    margin-left: 10px; /* Adds spacing between nav items */
    margin-right: 10px; /* Adjust for desired centering */
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
/* Smooth scrolling for navigation */

/* Style for the logo */
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

/* Logo hover effect */
.navbar-brand:hover {
    transform: scale(1.1);
    color: #0fee43; /* Optional: change color on hover */
}

/* Nav links hover effect */
.nav-link {
    transition: color 0.3s ease-in-out;
}

/* Style for the nav-link on hover */
.nav-link:hover {
    color: #0fee43 !important; /* Change the text color on hover */
    background-color: #f8f9fa4e; /* Optional: Change the background color on hover */
    border-radius: 4px;
    transition: all 0.3s ease-in-out; /* Smooth transition for the hover effect */
    text-decoration: underline;
    text-decoration-style: solid; /* Other options: solid, double, dotted, dashed */
}
body.dark-mode .nav-link:hover{
    color: #0fee43;
    background-color: #333333;
    border-radius: 2px;
    text-decoration: underline; 
    transition: all 0.3s ease-in-out;
    }
body.dark-mode .card{
    color: #fff;
}
/* Contact form styles */
#contact {
    background-color: #ffffff49;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
    margin-bottom: 1rem;
}

.contact-form label {
    font-weight: bold;
    color: #666666;
}

.contact-form .form-control {
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
}

.contact-form .form-control:focus {
    border-color: #8BC34A;
    box-shadow: 0 0 5px rgba(139, 195, 74, 0.5);
}

.contact-form .submit-button {
    background-color: #0fee43;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    justify-content: center;
}
.contact-form .submit-button:hover {
    background-color: #0fee43;
}



@media (max-width: 300px) {
    body {
        font-size: 16px; /* Adjust base font size for small screens */
    }
    .container {
        width: 100%; /* Ensure containers are full-width on small screens */
        padding: 10px; /* Adjust padding */
    }
    /* Additional adjustments for smaller screens */
}


.btn-dark {
    background-color: #333;
    border: none;
    margin: 70px auto;
    margin-right: 12px;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

/* Back to Top Button */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 7px;
}

#backToTop:hover {
    background-color: #0fee43;
}

/* Dark mode styles */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #252525;
    color: white;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease;
}
.floating-button:hover {
    transform: scale(1.1);
    background-color: #0fee43;
    }
#dark-mode-toggle{
    margin: 10px;
}
body.dark-mode {
    background-color: #212121 ;
    color: #f5f5f5;
}

body.dark-mode h2 {
    border-bottom-color: #0fee43;
}

body.dark-mode #contact {
    background-color: #333333;
    color: #f5f5f5;
    box-shadow: none;
}

body.dark-mode .contact-form .form-control {
    background-color: #444444;
    border-color: #666666;
    color: #f5f5f5;
}

body.dark-mode .contact-form .form-control:focus {
    border-color: #0fee43;
    box-shadow: 0 0 5px rgba(124, 179, 66, 0.5);
}

body.dark-mode .contact-form .submit-button {
    background-color: #0fee43;
}

body.dark-mode footer {
    background-color: #212121;
}
body.dark-mode .navbar-brand{
    color: #7CB342;
}
/* Add keyframes for the skill bar animation */
@keyframes fillBar {
    from {
        width: 0;
    }
    to {
        width: var(--skill-level);
    }
}

/* Base styles for the skill elements */
.skill {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color:inherit;
    position: relative;
}

/* Skill bar styles */
.skill-bar {
    height: 10px;
    background-color: #4caf50;
    border-radius: 5px;
    width: 0;
    transition: width 1s ease-in-out;
}

/* Class to trigger the animation */
.skill-bar.animate {
    animation: fillBar 1s forwards;
}
.but{
    background-color: #212121;
    color: #fbfbfb;
   border: none;
   padding: 10px;
   border-radius: 5px;
   text-decoration: none;
}
.but:hover{
    background-color: #7CB342;
    color: #212121;
    }
#projects{
    background-color: #212121;
    color: #fbfbfb;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

/* Footer styles */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


footer .social-media {
    margin-bottom: 1rem;
}

footer .social-media a {
    color: #ffffff;
    transition: color 0.3s ease;
}

footer .social-media a:hover {
    color: #0fee43;
}

footer p {
    margin: 0;
}

/* Media Queries */
@media (max-width: 1200px) {
    .carousel-item img {
        height: 400px;
    }

    .typing-effect {
        font-size: 1.75rem;
    }

    header .navbar-brand {
        font-size: 1.25rem;
    }
}

@media (max-width: 992px) {
    .carousel-item img {
        height: 300px;
    }

    .typing-effect {
        font-size: 1.5rem;
    }

    header .navbar-brand {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 200px;
    }

    .typing-effect {
        font-size: 1.25rem;
    }

    header .navbar-brand {
        font-size: 1rem;
    }

    .contact-form .submit-button {
        width: auto;
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        height: 150px;
    }

    .typing-effect {
        font-size: 1rem;
    }

    header .navbar-brand {
        font-size: 0.875rem;
    }

    .contact-form .submit-button {
        width: auto;
    }

    .skill {
        display: block;
        margin: 10px 0;
    }

    #about .card-img-top {
        width: 150px;
        height: 150px;
    }

    .floating-button, #backToTop {
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width: 375px) {
    .typing-effect {
        font-size: 0.875rem;
    }

    header .navbar-brand {
        font-size: 0.75rem;
    }

    .contact-form .submit-button {
        width: auto;
    }

    .skill {
        display: block;
        margin: 5px 0;
    }

    #about .card-img-top {
        width: 160px;
        height: 180px;
    }

    .floating-button, #backToTop {
        bottom: 10px;
        right: 10px;
    }
}
